.flows.json.backup
[{"id":"aca500a5.26ea7","type":"tab","label":"Albert Master","disabled":false,"info":""},{"id":"72706932.2ca048","type":"tab","label":"Albert Worker","disabled":false,"info":""},{"id":"87f0e773.22b928","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[{"id":"a2757617.757038"}]}],"out":[{"x":749.5,"y":53,"wires":[{"id":"ab2caa7c.d750f8","port":0}]},{"x":755,"y":169,"wires":[{"id":"9a388e3d.aeb97","port":0}]}]},{"id":"d2bdb924.a3fc88","type":"subflow","name":"old ebay api","info":"","in":[{"x":54,"y":111,"wires":[{"id":"9b6c3b8c.b15c88"}]}],"out":[{"x":646,"y":232,"wires":[{"id":"c31e115c.15a15","port":0}]}]},{"id":"49f6e78f.a91848","type":"subflow","name":"eBay API","info":"","in":[{"x":45.714284896850586,"y":122.85714340209961,"wires":[{"id":"456e4dfd.276fc4"}]}],"out":[{"x":628.5713214874268,"y":127.14285659790039,"wires":[{"id":"d52c5564.705d78","port":0}]}]},{"id":"8f12258d.a834d8","type":"subflow","name":"Facebook Ads","info":"","in":[{"x":154.24999237060547,"y":180.25000095367432,"wires":[{"id":"298b6c9c.fce634"}]}],"out":[{"x":3698.9999809265137,"y":178,"wires":[{"id":"826030c9.4d64f","port":0}]},{"x":3515.00004196167,"y":314.00000190734863,"wires":[{"id":"bd26c61.d037738","port":0}]},{"x":1799.0007133483887,"y":247.00002098083496,"wires":[{"id":"90bec8a7.3f5b48","port":0}]}]},{"id":"363f279c.1671a8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"43749542.37d54c","type":"remote-server","z":"","name":"elastic","host":"http://elasticsearch-elasticsearch.default.svc.cluster.local:9200"},{"id":"c0e67585.074708","type":"kafka-broker","z":"","broker":"kafka.default.svc.cluster.local:9092","clientid":"node-red-6"},{"id":"3535b384.5d390c","type":"redis-config","z":0,"host":"redis-master.default.svc.cluster.local","port":"6379","dbase":"0","pass":"hLZ8J8sKM1"},{"id":"d93577ef.f77438","type":"postgresdb","z":0,"hostname":"sippycup-postgresql.default.svc.cluster.local","port":"5432","db":"sippycup","ssl":false},{"id":"3ffd8cd4.9264b4","type":"postgresdb","z":0,"hostname":"sippycup.c8wilxdbvlmp.us-east-1.rds.amazonaws.com","port":"5432","db":"sippycup","ssl":true},{"id":"ded7f12b.b1d18","type":"rdkafka out","z":"aca500a5.26ea7","name":"Kafka","topic":"","key":"","partition":"0","broker":"c0e67585.074708","x":1630,"y":380,"wires":[]},{"id":"f7c26d47.9abfe","type":"inject","z":"aca500a5.26ea7","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"3","x":190,"y":380,"wires":[["7da70950.cdd028"]]},{"id":"7da70950.cdd028","type":"change","z":"aca500a5.26ea7","name":"Set Tasks","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.tasks","tot":"flow"},{"t":"set","p":"flow","pt":"msg","to":"data.name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["78e2896d.f22e38","bc2637ed.e51ce8","65f76839.510bd8"]]},{"id":"65f76839.510bd8","type":"split","z":"aca500a5.26ea7","name":"For Each Task","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":580,"y":380,"wires":[["4949ef11.8c9d5"]]},{"id":"cb3489b8.e8d988","type":"change","z":"aca500a5.26ea7","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"$uppercase(msg.flow & '_' & msg.payload.name)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":520,"wires":[[]]},{"id":"263e737e.a26f4c","type":"config","z":"aca500a5.26ea7","name":"data","properties":[{"p":"data","pt":"flow","to":"{\"debug\":false,\"name\":\"albert\",\"tasks\":[{\"name\":\"1betpro\",\"enabled\":false,\"url\":\"https://1betpro.com/\",\"username\":\"אבי99\",\"password\":\"1111\"},{\"name\":\"966sport\",\"enabled\":false,\"url\":\"http://966sport.com/\",\"username\":\"X222\",\"password\":\"12345\"},{\"name\":\"pinibet\",\"enabled\":false,\"url\":\"https://ropinwev.pinbet88.com/sports-service/sv/odds/events?l=100&ot=1\",\"username\":\"avigershon\",\"password\":\"lioran020\"},{\"name\":\"facebook\",\"enabled\":true,\"accounts\":[{\"access_token\":\"EAAMU4ZAfHJMYBADRHzQrfsv3mZA3hKGxrZAtR2TT8zmZBZCU8mAmp2Y2tpum1leunpBsvusgcOItb05G4xUKSumBT2A3yNvEvNkKtoroMM8oh4V6CllFP20aNq3VXZBDNfn1TzWZAijitOjI4yvDzZAZBEq6hSPu9Yiyvv4kmxl7z6gZDZD\",\"campaigns\":[{\"effective_status\":\"ACTIVE\",\"id\":\"6090027468460\"},{\"effective_status\":\"ACTIVE\",\"id\":\"6089766492460\"}],\"id\":\"1381220405489176\"}]}]}","tot":"json"}],"active":true,"x":170,"y":200,"wires":[]},{"id":"f721cae3.107988","type":"json","z":"aca500a5.26ea7","name":"","property":"payload","action":"str","pretty":false,"x":1430,"y":380,"wires":[["ded7f12b.b1d18","4e3fd979.567268","a08741b9.d0c0a"]]},{"id":"3183b6e9.8de4ea","type":"change","z":"aca500a5.26ea7","name":"Set Common Params","rules":[{"t":"set","p":"payload.debug","pt":"msg","to":"debug","tot":"flow"},{"t":"set","p":"payload.flow","pt":"msg","to":"flow","tot":"msg"},{"t":"set","p":"payload.delay","pt":"msg","to":"delay","tot":"flow"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":380,"wires":[["7f46ebe0.6fed64","89599c12.06321","f523bf20.4abe3"]]},{"id":"ad112b19.1a9178","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1430,"y":440,"wires":[]},{"id":"5a2c3743.742b08","type":"config","z":"aca500a5.26ea7","name":"debug","properties":[{"p":"debug","pt":"flow","to":"true","tot":"bool"}],"active":true,"x":390,"y":200,"wires":[]},{"id":"78e2896d.f22e38","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":560,"y":320,"wires":[]},{"id":"ed71a195.4fc58","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":940,"y":320,"wires":[]},{"id":"7f46ebe0.6fed64","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1240,"y":320,"wires":[]},{"id":"87cc6828.3edc08","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1440,"y":320,"wires":[]},{"id":"4e3fd979.567268","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":1640,"y":320,"wires":[]},{"id":"bc2637ed.e51ce8","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":440,"wires":[]},{"id":"4db3314d.976e4","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":440,"wires":[]},{"id":"89599c12.06321","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":440,"wires":[]},{"id":"a08741b9.d0c0a","type":"debug","z":"aca500a5.26ea7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1630,"y":440,"wires":[]},{"id":"4949ef11.8c9d5","type":"switch","z":"aca500a5.26ea7","name":"","property":"payload.enabled","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":380,"wires":[["3183b6e9.8de4ea","ed71a195.4fc58","4db3314d.976e4"]]},{"id":"3b2f8d91.8307b2","type":"json","z":"72706932.2ca048","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":320,"wires":[["2e292b0d.4abd14","90443b65.a1a688"]]},{"id":"35a6dd67.524e82","type":"switch","z":"72706932.2ca048","name":"Task Router","property":"website.name","propertyType":"msg","rules":[{"t":"eq","v":"1betpro","vt":"str"},{"t":"eq","v":"966sport","vt":"str"},{"t":"eq","v":"pinibet","vt":"str"},{"t":"eq","v":"facebook","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":710,"y":240,"wires":[[],[],[],["b805e6b0.1b8008"]]},{"id":"8ae4bf07.b9737","type":"rdkafka in","z":"72706932.2ca048","name":"","topic":"^ALBERT_*","cgroup":"albert","autocommit":true,"broker":"c0e67585.074708","x":70,"y":320,"wires":[["3b2f8d91.8307b2"]]},{"id":"4a71e3b5.f78e4c","type":"debug","z":"72706932.2ca048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1219,"y":179.99999904632568,"wires":[]},{"id":"b50b2b0e.0d4a48","type":"config","z":"aca500a5.26ea7","name":"delay","properties":[{"p":"delay","pt":"flow","to":"0","tot":"num"}],"active":true,"x":590,"y":200,"wires":[]},{"id":"6a20042c.cd458c","type":"inject","z":"aca500a5.26ea7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["211b0ffa.fd4b2"]]},{"id":"a8f2582.6f770a8","type":"debug","z":"aca500a5.26ea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":560,"wires":[]},{"id":"211b0ffa.fd4b2","type":"function","z":"aca500a5.26ea7","name":"Delete Redis keys","func":"\nmsg.payload = ['1betpro_session']\n    \nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["a8f2582.6f770a8"]]},{"id":"f522eff1.97f54","type":"function","z":"72706932.2ca048","name":"Set Task","func":"\nlet task_json = JSON.stringify(msg.payload);\n\nmsg.payload.topic = msg.topic;\nmsg = msg.payload;\nmsg.website = JSON.parse(task_json);\nmsg.task = JSON.parse(task_json);\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["35a6dd67.524e82"]]},{"id":"4c2d25c3.a769cc","type":"split","z":"8f12258d.a834d8","name":"For each account","splt":"\\n","x":676,"y":179.0000057220459,"wires":[["bfbc2fe8.7fbde"]]},{"id":"76864493.930f1c","type":"http request","z":"8f12258d.a834d8","name":"Get Facebook active campaigns","method":"GET","ret":"obj","url":"https://graph.facebook.com/v2.11/act_{{{payload.id}}}/campaigns/?fields=effective_status&filtering=[{'field':'effective_status','operator':'IN','value':['ACTIVE']}]&access_token={{{payload.access_token}}}","tls":"","x":1110,"y":180,"wires":[["cbd17d9d.b7716"]]},{"id":"bfbc2fe8.7fbde","type":"function","z":"8f12258d.a834d8","name":"build fb_account","func":"msg.fb_account = {\n    \"id\": msg.payload.id,\n    \"access_token\": msg.payload.access_token\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":180,"wires":[["76864493.930f1c"]]},{"id":"80a9f617.a69888","type":"http request","z":"8f12258d.a834d8","name":"Get Facebook insights","method":"GET","ret":"obj","url":"https://graph.facebook.com/v2.11/insights/?fields=impressions,campaign_id,campaign_name,adset_id,adset_name,ad_id,ad_name,spend,actions,action_values&date_preset=lifetime&level=ad&limit=10000&ids={{{campaign.id}}}&p=2&access_token={{{fb_account.access_token}}}","tls":"","x":2080,"y":180,"wires":[["19818e11.bed8e2"]]},{"id":"c0694fa4.fb584","type":"split","z":"8f12258d.a834d8","name":"","splt":"\\n","x":1399.0000267028809,"y":244.99999809265137,"wires":[["1c69567e.75732a"]]},{"id":"1c69567e.75732a","type":"function","z":"8f12258d.a834d8","name":"build campaign","func":"msg.campaign = {\n    \"id\": msg.payload.id,\n    \"account\" : {\n        \"id\" : msg.fb_account.id\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1481.0000686645508,"y":182.0000057220459,"wires":[["90bec8a7.3f5b48"]]},{"id":"298b6c9c.fce634","type":"function","z":"8f12258d.a834d8","name":"set timestamp","func":"/*var message = msg;\n\nmsg = {};\n\nmsg.refferal_message = message;\n//msg.params = {};\n*/\n\nmsg.timestamp = new Date().getTime();//msg.payload;\n\nglobal.set(\"threshold\",5);\nglobal.set(\"sc_weight\",0.9);\n\nreturn msg;","outputs":1,"noerr":0,"x":314.24999237060547,"y":180.25000095367432,"wires":[["da4376a7.6f9bc8"]]},{"id":"19818e11.bed8e2","type":"function","z":"8f12258d.a834d8","name":"Get campaign data","func":"msg.payload = msg.payload[msg.campaign.id].data;\n\nmsg.payload.forEach( function (ad){\n    for (var i = 0; i < msg.campaign.adsets.length; i++) {\n        if(ad.adset_id === msg.campaign.adsets[i].id){\n            \n            ad.adset_lifetime_budget = msg.campaign.adsets[i].lifetime_budget;\n            ad.adset_daily_budget = msg.campaign.adsets[i].daily_budget;\n            ad.adset_budget_remaining = msg.campaign.adsets[i].budget_remaining;\n\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":180,"wires":[["ac391b5.1ac6ce8"]]},{"id":"ac391b5.1ac6ce8","type":"join","z":"8f12258d.a834d8","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":2450,"y":180,"wires":[["d8547a4f.4ac898"]]},{"id":"d8547a4f.4ac898","type":"function","z":"8f12258d.a834d8","name":"aggregate insights","func":"msg.ads = [];\nmsg.adsets = [];\nmsg.campaigns = [];\nmsg.account = {\n                \"account_id\" : msg.campaign.account.id,\n                \"pre_conversions\" : 0,\n                \"conversions\" : 0,\n                \"revenue\" : 0\n            };\n\nvar pre_conversion_actions = [\"offsite_conversion.fb_pixel_complete_registration\"];\nvar conversion_actions = [\"offsite_conversion.fb_pixel_purchase\"];\nvar revenue_actions = [\"offsite_conversion.fb_pixel_search\"];\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    for (var j = 0; j < msg.payload[i].length; j++) {\n        \n        var actions = [];\n        var action_values = [];\n        \n        if(msg.payload[i][j].actions!==undefined) actions = msg.payload[i][j].actions;\n        if(msg.payload[i][j].action_values!==undefined) action_values = msg.payload[i][j].action_values;\n        \n        var ad = msg.payload[i][j];\n            \n        ad.pre_conversions = 0;\n        ad.conversions = 0;\n        ad.revenue = 0;\n        \n        actions.forEach( function (arrayItem)\n        {\n            if(pre_conversion_actions.indexOf(arrayItem.action_type)>=0 ){\n                ad.pre_conversions = ad.pre_conversions + parseInt(arrayItem.value);\n            }\n            \n            if(conversion_actions.indexOf(arrayItem.action_type)>=0 ){\n                ad.conversions = ad.conversions + parseInt(arrayItem.value);\n            }\n            \n        });\n        \n        action_values.forEach( function (arrayItem)\n        {\n            if(revenue_actions.indexOf(arrayItem.action_type)>=0 ){\n                ad.revenue = ad.revenue + parseInt(arrayItem.value);\n            }\n        });\n        \n        var adset = null;\n        \n        msg.adsets.forEach( function (obj){\n            try{\n                if (obj.adset_id == ad.adset_id){\n                    adset = obj;\n                }\n            }\n            catch(e){}\n        });\n        \n        if(adset===null){\n            msg.adsets.push({\n                \"adset_id\" : ad.adset_id,\n                \"pre_conversions\" : ad.pre_conversions,\n                \"conversions\" : ad.conversions,\n                \"revenue\" : ad.revenue,\n                \"lifetime_budget\" : msg.payload[i].lifetime_budget,\n                \"daily_budget\" : msg.payload[i].daily_budget,\n                \"budget_remaining\" : msg.payload[i].budget_remaining\n            });\n        }\n        else{\n            adset.pre_conversions = ad.pre_conversions + adset.pre_conversions;\n            adset.conversions = ad.conversions + adset.conversions;\n            adset.revenue = ad.revenue + adset.revenue;\n        }\n        \n        var campaign = null;\n        \n        msg.campaigns.forEach( function (obj){\n            try{\n                if (obj.campaign_id == ad.campaign_id){\n                    campaign = obj;\n                }\n            }\n            catch(e){}\n        });\n        \n        if(campaign===null){\n            msg.campaigns.push({\n                \"campaign_id\" : ad.campaign_id,\n                \"pre_conversions\" : ad.pre_conversions,\n                \"conversions\" : ad.conversions,\n                \"revenue\" : ad.revenue\n            });\n        }\n        else{\n            campaign.pre_conversions = ad.pre_conversions + campaign.pre_conversions;\n            campaign.conversions = ad.conversions + campaign.conversions;\n            campaign.revenue = ad.revenue + campaign.revenue;\n        }\n        \n        \n        msg.account.pre_conversions = ad.pre_conversions + msg.account.pre_conversions;\n        msg.account.conversions = ad.conversions + msg.account.conversions;\n        msg.account.revenue = ad.revenue + msg.account.revenue;\n        \n        \n        msg.ads.push(ad);\n        \n    }\n}\n\nmsg.payload = msg.ads;\n\nreturn msg;","outputs":1,"noerr":0,"x":2610,"y":180,"wires":[["51943b06.809eb4"]]},{"id":"51943b06.809eb4","type":"split","z":"8f12258d.a834d8","name":"","splt":"\\n","x":2770,"y":180,"wires":[["f27b9ece.423a6"]]},{"id":"f27b9ece.423a6","type":"function","z":"8f12258d.a834d8","name":"ad all hierarchy insights","func":"var ad = msg.payload;\n\nmsg.adsets.forEach( function (adset){\n    if (adset.adset_id == ad.adset_id){\n        ad.adset = adset;\n    }\n});\n\nmsg.campaigns.forEach( function (campaign){\n    if (campaign.campaign_id == ad.campaign_id){\n        ad.campaign = campaign;\n    }\n});\n\nad.account = msg.account;\n\nreturn msg;","outputs":1,"noerr":0,"x":2950,"y":180,"wires":[["3e88fcb9.d89ac4"]]},{"id":"3e88fcb9.d89ac4","type":"function","z":"8f12258d.a834d8","name":"calc SCVal","func":"var ad = msg.payload;\n\nvar threshold = global.get(\"threshold\");\nvar sc_weight = global.get(\"sc_weight\");\n\nPad = Math.min(ad.conversions/threshold,1);\nRad = (ad.revenue/ad.pre_conversions);\nPadset = Math.min(ad.adset.conversions/threshold,1);\nRadset = (ad.adset.revenue/ad.adset.pre_conversions);\nCalcPadset = (Math.max(1-Pad,0)*Padset);\nPcampaign = Math.min(ad.campaign.conversions/threshold,1);\nRcampaign = (ad.campaign.revenue/ad.campaign.pre_conversions);\nPaccount = Math.min(ad.account.conversions/threshold,1);\nRaccount = (ad.account.revenue/ad.account.pre_conversions);\n\n/*SCVal = (Pad*Rad) + \n(CalcPadset*Radset) + \n((Math.max(1-Padset-CalcPadset,0)*Pcampaign)*Rcampaign) + \n((Math.max(1 - Padset -(Padset-CalcPadset)-(Math.max(1-Padset-CalcPadset,0)),0)*Paccount)*Raccount);\n*/\n\n/*=(B2*B3) + \n((Max(1-B2,0)*B4)*B5) + \n((Max(1-B2-((Max(1-B2,0)*B4)),0)*B6)*B7) + \n((Max(1-B2 -(B4-((Max(1-B2,0)*B4)))-(Max((Max(1-B2,0)*B4),0)),0)*B8)*B9)\n*/\n\n/*msg.debug = {\n    part1 : (Pad*Rad),\n    part2 : ((Math.max(1-Pad,0)*Padset)*Radset),\n    part3 : ((Math.max(1-Padset-((Max(1-Pad,0)*Padset)),0)*Pcampaign)*Rcampaign),\n    part4 : ((Math.max(1-Padset -(Padset-CalcPadset)-(Math.max(1-Padset-CalcPadset,0)),0)*Paccount)*Raccount)\n}*/\n\nad.Pad = isNaN(Pad) ? 0 : Pad;\nad.Rad = isNaN(Rad) ? 0 : Rad;\nad.Padset = isNaN(Padset) ? 0 : Padset;\nad.Radset = isNaN(Radset) ? 0 : Radset;\nad.Pcampaign = isNaN(Pcampaign) ? 0 : Pcampaign;\nad.Rcampaign = isNaN(Rcampaign) ? 0 : Rcampaign;\nad.Paccount = isNaN(Paccount) ? 0 : Paccount;\nad.Raccount = isNaN(Raccount) ? 0 : Raccount;\n\n\nad.debug = {\n    part1 : (ad.Pad*ad.Rad),\n    part2 : ((Math.max(1-ad.Pad,0)*ad.Padset)*ad.Radset),\n    part3 : ((Math.max(1-ad.Pad-((Math.max(1-ad.Pad,0)*ad.Padset)),0)*ad.Pcampaign)*ad.Rcampaign),\n    part4 : ((Math.max(1-ad.Pad -(ad.Padset-((Math.max(1-ad.Pad,0)*ad.Padset)))-(Math.max((Math.max(1-ad.Pad,0)*ad.Padset),0)),0)*ad.Paccount)*ad.Raccount)\n}\n\nSCVal = (ad.Pad*ad.Rad) +\n((Math.max(1-ad.Pad,0)*ad.Padset)*ad.Radset) +\n((Math.max(1-ad.Pad-((Math.max(1-ad.Pad,0)*ad.Padset)),0)*ad.Pcampaign)*ad.Rcampaign) + \n((Math.max(1-ad.Pad -(ad.Padset-((Math.max(1-ad.Pad,0)*ad.Padset)))-(Math.max((Math.max(1-ad.Pad,0)*ad.Padset),0)),0)*ad.Paccount)*ad.Raccount)\n\nad.SCVal = isNaN(SCVal) ? 0 : SCVal;\n\nVRevN = (SCVal * ad.pre_conversions * sc_weight) + ((1-sc_weight) * ad.revenue);\nad.VRevN = isNaN(VRevN) ? 0 : VRevN;\n\nad.timestamp = msg.timestamp;\n\nmsg.params = {\n    \"Item\" : ad\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":3150,"y":180,"wires":[["bd26c61.d037738"]]},{"id":"ab2caa7c.d750f8","type":"change","z":"87f0e773.22b928","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"restore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.5,"y":53,"wires":[[]]},{"id":"a2757617.757038","type":"json","z":"87f0e773.22b928","name":"","x":175.5,"y":85,"wires":[["ab2caa7c.d750f8"]]},{"id":"70930308.436aac","type":"catch","z":"87f0e773.22b928","name":"","scope":["a2757617.757038"],"x":183.5,"y":117,"wires":[["edbcee33.12519"]]},{"id":"edbcee33.12519","type":"change","z":"87f0e773.22b928","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.5,"y":116,"wires":[["ab2caa7c.d750f8"]]},{"id":"9a388e3d.aeb97","type":"inject","z":"87f0e773.22b928","name":"Trigger restore","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":618.5,"y":169,"wires":[[]]},{"id":"cc93258a.06d618","type":"function","z":"d2bdb924.a3fc88","name":"call ebay api","func":"msg.timestamp = new Date().getTime()\n\nvar ebay = global.get('ebayapi')\n\nmsg.payload.parser = ebay.parseResponseJson\n\nebay.xmlRequest(msg.payload,\n  // gets all the items together in a merged array\n    function itemsCallback(error, itemsResponse) {\n        //global.set(\"ebay_response_\" + msg.timestamp,itemsResponse)\n    if (error) {\n        console.log(error);\n        global.set(\"ebay_response_\" + msg.timestamp,error)\n    }\n    else{\n        console.log(itemsResponse)\n        global.set(\"ebay_response_\" + msg.timestamp,itemsResponse)\n    }\n  }\n);\n\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":169,"wires":[["bd64769a.9e94d8"]]},{"id":"bd64769a.9e94d8","type":"delay","z":"d2bdb924.a3fc88","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":486.5,"y":169,"wires":[["c31e115c.15a15"]]},{"id":"c31e115c.15a15","type":"function","z":"d2bdb924.a3fc88","name":"set payload","func":"msg.payload = global.get(\"ebay_response_\" + msg.timestamp)\n\nreturn msg;","outputs":1,"noerr":0,"x":586.5,"y":93,"wires":[[]]},{"id":"edd9e9f8.8519b8","type":"debug","z":"d2bdb924.a3fc88","name":"","active":true,"console":"false","complete":"false","x":704.5,"y":34,"wires":[]},{"id":"9b6c3b8c.b15c88","type":"json","z":"d2bdb924.a3fc88","name":"","x":111.5,"y":168,"wires":[["f5e91c47.9244b"]]},{"id":"f5e91c47.9244b","type":"json","z":"d2bdb924.a3fc88","name":"","x":171.5,"y":220,"wires":[["cc93258a.06d618"]]},{"id":"d52c5564.705d78","type":"function","z":"49f6e78f.a91848","name":"call ebay api","func":"var ebay = global.get('ebayapi')\nmsg.topic = \"\"\n\nmsg.payload.parser = ebay.parseResponseJson\n\nebay.xmlRequest(msg.payload,\n  // gets all the items together in a merged array\n    function itemsCallback(error, itemsResponse) {\n        msg.topic = msg.payload.opType\n        msg.payload = itemsResponse\n        msg.payload.error = error\n        node.send(msg)\n    }\n);\n","outputs":1,"noerr":0,"x":491.4285774230957,"y":127.14287185668945,"wires":[[]]},{"id":"456e4dfd.276fc4","type":"json","z":"49f6e78f.a91848","name":"","x":175.07143783569336,"y":124.71428871154785,"wires":[["2fd1a17b.bb010e"]]},{"id":"2fd1a17b.bb010e","type":"json","z":"49f6e78f.a91848","name":"","x":326.5,"y":126.71426582336426,"wires":[["d52c5564.705d78"]]},{"id":"555d45ce.5e14ec","type":"function","z":"8f12258d.a834d8","name":"Get campaign data","func":"msg.campaign.adsets = msg.payload.data;\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":180,"wires":[["80a9f617.a69888"]]},{"id":"90bec8a7.3f5b48","type":"http request","z":"8f12258d.a834d8","name":"Get adset budget","method":"GET","ret":"obj","url":"https://graph.facebook.com/v2.11/{{{campaign.id}}}/adsets/?fields=id,end_time,lifetime_budget,daily_budget,effective_status&date_preset=lifetime&level=adset&limit=10000&p=2&access_token={{{fb_account.access_token}}}","tls":"","x":1670,"y":180,"wires":[["555d45ce.5e14ec"]]},{"id":"da4376a7.6f9bc8","type":"change","z":"8f12258d.a834d8","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"accounts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["4c2d25c3.a769cc"]]},{"id":"f523bf20.4abe3","type":"change","z":"aca500a5.26ea7","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"$uppercase(msg.flow & '_tasks')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":380,"wires":[["f721cae3.107988","87cc6828.3edc08"]]},{"id":"90443b65.a1a688","type":"switch","z":"72706932.2ca048","name":"Topic Router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ALBERT_TASKS","vt":"str"},{"t":"eq","v":"ALBERT_GOOGLE_QUERIES_STREAM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":320,"wires":[["f522eff1.97f54"],[]]},{"id":"2e292b0d.4abd14","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":367.5,"y":422.5,"wires":[]},{"id":"db638d85.09fcd","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1219.1367492675781,"y":299.07423973083496,"wires":[]},{"id":"b805e6b0.1b8008","type":"subflow:8f12258d.a834d8","z":"72706932.2ca048","name":"","x":880,"y":260,"wires":[["df2f529f.c505"],["af496842.86b978"],["dcb59039.cf933"]]},{"id":"bd26c61.d037738","type":"change","z":"8f12258d.a834d8","name":"","rules":[{"t":"set","p":"payload.id","pt":"msg","to":"$base64encode($lowercase($string(msg.payload.ad_id & ';' & msg.timestamp)))","tot":"jsonata"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"topic","pt":"msg","to":"FACEBOOK_ADS_DATA","tot":"str"},{"t":"set","p":"key","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3339.7696380615234,"y":182.00390815734863,"wires":[["826030c9.4d64f"]]},{"id":"826030c9.4d64f","type":"json","z":"8f12258d.a834d8","name":"","property":"payload","action":"str","pretty":false,"x":3541.769634246826,"y":182.00390815734863,"wires":[[]]},{"id":"df2f529f.c505","type":"rdkafka out","z":"72706932.2ca048","name":"Kafka","topic":"","key":"","partition":-1,"broker":"c0e67585.074708","x":1073.0195770263672,"y":356.00389766693115,"wires":[]},{"id":"af496842.86b978","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1207.769546508789,"y":392.00404167175293,"wires":[]},{"id":"dcb59039.cf933","type":"debug","z":"72706932.2ca048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1212.26953125,"y":436.0039052963257,"wires":[]},{"id":"cbd17d9d.b7716","type":"change","z":"8f12258d.a834d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1237.640625,"y":243.3828125,"wires":[["c0694fa4.fb584"]]}]